{% extends "base.html" %}
{% block title %}Checkout Hardware{% endblock %}

{% block content %}

<div class="container">
    {% if flashError == 1 %}
    <div class="alert alert-danger">
        Select atleast one hardware board to checkout before clicking Submit.
    </div>
    {% endif %}
    <h2>Checkout Hardware</h2>
    <p>Keep track of the respective owners of the selected hardware boards.</p>
    <div class="input-group mb-3 mw-100">
        <input type="text" class="form-control live-search-box" aria-label="target_name"
            placeholder="Enter board name..." aria-describedby="inputGroup-sizing-default">
    </div>
    <form id="checkoutForm" method="POST">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Select Hardware</th>
                        <th>Hardware Name</th>
                        <th>Available Count</th>
                        <th>Hardware Owner</th>
                    </tr>
                </thead>
                <tbody class="live-search-list" id="hardwareList">

                    {% for item in hardware %}
                    <tr>
                        <td>
                            <div>
                                <input type="checkbox" name="hardware_ids" value="{{ item.id }}">
                            </div>
                        </td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.count }}</td>
                        <td>{{ item.hw_owner.username }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <button id="submitButton" type="button" onClick="checkCheckboxes()">Submit</button>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>

<script>
    function checkCheckboxes() {
        // Get all checkboxes with the name 'option'
        const checkboxes = document.querySelectorAll('input[name="hardware_ids"]');
        let isChecked = false;

        // Loop through each checkbox to see if at least one is checked
        checkboxes.forEach((checkbox) => {
            if (checkbox.checked) {
                isChecked = true;
            }
        });

        // Provide feedback based on whether at least one checkbox is checked
        if (isChecked) {
            document.getElementById('checkoutForm').submit();
        } else {
            alert("Select atleast one hardware board to return before clicking Submit.");
        }
    }
</script>
{% endblock %}