{% extends "base.html" %}
{% block title %}Hardware Inventory Management{% endblock %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
        {{ message }}
        </div>
    {% endfor %}
    {% endif %}
{% endwith %}
<div class="jumbotron text-center">
  <h1>Welcome to the Hardware Inventory Management System</h1>
    <p>To no longer misplacing our hardware boards and components!</p>
</div>
{% endblock %}