<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            {% if current_user.is_authenticated %}
            <a class="navbar-brand" href="{{url_for('index')}}">Hello, {{ current_user.username }}!</a>
            {% else %}
            <a class="navbar-brand" href="{{url_for('index')}}">Hello!</a>
            {% endif %}
        </div>
        <ul class="nav navbar-nav">
            {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('checkout') }}">Checkout Hardware</a></li>
            <li><a href="{{ url_for('return_hardware') }}">Return Hardware</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% else %}
            <li><a href="{{ url_for('login') }}">Login</a></li>
            <li class="active"><a href="{{ url_for('signup') }}">Sign Up</a></li>
            {% endif %}
            <li><a href="{{ url_for('hardware_list') }}">Hardware Board List</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <h2>Sign Up</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div>
            {{ form.confirm_password.label }}<br>
            {{ form.confirm_password(size=32) }}<br>
            {% for error in form.confirm_password.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
    <p>Already have an account? <a href="{{ url_for('login') }}">Login</a></p>
</div>
</body>
</html>